<%= simple_form_for(@param) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">

    <%= f.input :name %>

    <%= f.input :category_id %>

  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
