<h1>Listing params</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @params.each do |param| %>
  <tr>
    <td><%= param.name %></td>
    <td><%= param.category_id %></td>
    <td><%= link_to 'Show', param %></td>
    <td><%= link_to 'Edit', edit_param_path(param) %></td>
    <td><%= link_to 'Destroy', param, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Param', new_param_path %>
